<a href="https://colab.research.google.com/github/mneedham/data-science-training/blob/master/02_EDA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exploratory Data Analysis

In this notebook we're going to explore the citation dataset. We should already have installed py2neo, pandas, and matplotlib when setting up our environment, so let's get those imported:

In [2]:
from py2neo import Graph
import pandas as pd

import matplotlib 
import matplotlib.pyplot as plt

plt.style.use('fivethirtyeight')
pd.set_option('display.float_format', lambda x: '%.3f' % x)

Now we need to create a connection to our Neo4j Sandbox. 

<div align="left">
    <img src="images/sandbox-citations2.png" alt="Neo4j 3.4 Sandbox"/>
</div>

We'll need to update the cell below to use the IP Address, Bolt Port, and Password.

In [6]:
# Change the line of code below to use the IP Address, Bolt Port, and Password of your Sandbox.
# graph = Graph("bolt://<IP Address>:<Bolt Port>", auth=("neo4j", "<Password>")) 
 
graph = Graph("bolt://34.239.255.86:34057", auth=("neo4j", "swords-measurements-routines"))

## Exercise

* Can you create a similar chart showing the articles that cite the most other papers?

In [4]:
query = """
MATCH (a:Article)
RETURN size((a)-[:CITED]->()) AS cited
"""

cited_df = graph.run(query).to_data_frame()
cited_df.describe([.25, .5, .75, .9, .99])

          cited
count 51956.000
mean      0.553
std       1.301
min       0.000
25%       0.000
50%       0.000
75%       1.000
90%       2.000
99%       6.000
max      51.000

In [ ]:
fig1, ax1 = plt.subplots()
ax1.hist(pd.Series(cited_df['cited'].dropna()), 1250, density=True, facecolor='g', alpha=0.75)
plt.tight_layout()
plt.show()

* What about a distribution of the number of articles published by authors?

In [5]:
query = """
MATCH (a:Author)
RETURN size((a)<-[:AUTHOR]-()) AS published
"""

published_df = graph.run(query).to_data_frame()
published_df.describe([.25, .5, .75, .9, .99])

       published
count  80299.000
mean       1.751
std        2.064
min        1.000
25%        1.000
50%        1.000
75%        2.000
90%        3.000
99%       10.000
max       89.000